body
{
	font-family: sans-serif;
}
.nav-bar{
	position:sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	padding: 0 !important;
}
navbar-brand img
{
	height: 40px;
	padding-left: 10px;
	
}
toggler-icon
{
	color: #fff;
	font-size: 80px;
}
.navbar-nav li
{
	padding:0 10px;
}
.navbar-nav li a
{
	color:#28A745!important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.toggler-icon
{
	color: #ffff;
	font-size: 40px !important;
}
.navbar-toggeler
{
	outline: none !important;
}
#banner
{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color: #fff;
	padding-top: 7%;
}
.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 10px;
}
.play-btn
{
	width: 45px;
	margin: 20px;
}
#banner a
{
	color: #fff;
	text-decoration: none;
}
#services
{
	padding:100px 0;
}
.services1-img
{
	width: 200px;
	margin-top: 140px;
	margin-left: 0px;
	margin-top:240px;
}


.services2-img
{
	width: 200px;
	margin-top: 140px;
	margin-left: 0px;
	margin-top:220px;

}

.services3-img
{
	width: 200px;
	margin-top: 140px;
	margin-left: 0px;
	margin-top: 220px;
}
.services
{
	padding:0px;
	margin-top:-180px;
}
.title::before
{
	content: '';
	background: #7b1798;
	height: 2px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after
{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.services h2
{
	padding: 5px;
	margin-top: 25px;
}
.services p
{
	padding: 1px;
	margin-top: 10px;
}
#services .btn-primary
{
	box-shadow: 0 0 150px 5px rgba(0,0,0,3);
	padding:  8px 25px;
	border:none;
	border-radius: 20px;
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	margin-left: 480px;

}

/*-------------------- ABOUT US SECTION-----------------------------*/

#About-us
{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}

.about-title
{
	font-size: 30px;
	font-weight: 400;
	margin-top: 8%;
}
#Testimonials
{
	margin: 100px 0;
}
.Testimonials
{
	border-left:  4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}
.Testimonials img
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.user-details
{
	display: inline-block;
	font-size: 12px;
}

#social-media
{
	background: #f6f9fa;
	padding:100px 0;
}
.social-media p{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 30px;
}
.social-icons img
{
	width: 30px;
	transition: 0.5s;

}
.social-icons a:hover img
{
	transform:translateY(-15px);
}

